*.Rda
*.rds
*.rda
*.Rds
*.Rhistory
*.Rapp.history
*.RData

*.DS_Store

*.xlsx
*.docx
*.doc
*.xls

*synctex.gz
*.log
*.aux
*.blg
*.bbl
*.out

\notposting
/analyses/input/ERA5LAND
analyses/output/phenofitsims/pet*
analyses/output/phenofitsims/pre*
analyses/output/phenofitsims/Altitude*
analyses/output/phenofitsims/WHC*
data/recdVictor*
_newrefs/
phenofitdocs/
analyses/output/simsRformat/
analyses/graphs/zarchive
